
.post-prompt
{
    height: 20vh;
    width: 80%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 245, 245);
    border: 1px solid hsla(0, 0%, 100%, 0.662);
    border-radius: 10px;
    justify-content: center;
    font-optical-sizing: auto;
    align-items: center;

}

.post-prompt-text
{
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px;
        justify-content: space-around;
        font-family: system-ui, sans-serif;
        color: black;
        font-weight: bold;

        .user-icon
        {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            margin: 15px;
            outline: none;
            height: 90%;
            width: 10%;
            border: 1px solid black opacify($color: #000000, $amount: 1.0);
            border-radius: 50%;
        }
        
        .post-button
        {
            background-color: white;
            outline: none;
            border: 1px black solid;
            border-radius: 30px;
            display: flex;
            flex-direction: row;
            margin-right: 10%;
            height: 90%;
            width: 90%;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 500;
            font-size: 3vh;
            justify-content: left;
            padding: 1.5% 0% 1% 5%;
        }

        .post-button:hover
        {
            background-color: rgb(246, 246, 246);
        }

}




.post-icons
{
        display: flex;
        margin: 0;
        width: 100%;
        justify-content: space-around;
        padding-right: 5%;
        padding-left: 5%;
        height: 20%;

        .icon-grp
        {
            background: transparent;
            display: flex;
            width: auto;
            border: 1px solid rgb(247, 245, 245);
            border-radius: 10px;
            flex-direction: row;
            align-items: center;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            font-size: 3vh;
            .icon
            {
                outline: none;
                height: 90%;
                width: 50%;
                display: flex;
                margin: 5px;
                flex-direction: row;
                background: transparent;
            }

        }        
        
        .icon-grp:hover
        {
            background-color: rgb(200, 200, 200);
        }

        .icon-grp > span 
        {
            padding: 2px;
        }

        :hover { color: rgb(29, 113, 210);}

}

.modal-input
{
    color: rgba(5, 16, 232, 0.711);
    width: 50%;
    border: none;
    outline: none;
    font-size: 3vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
}

.modal-file-input
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
}

