* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    position: fixed;
    width: 100%;
    margin-bottom: 5px;
    background: linear-gradient(60deg, aliceblue, lightblue, lightgrey);
}

.main-div1 {
    width: 22%;
    height: 100vh;
    margin-right: 10px;
    margin-right: 10px;
    background-color: rgba(77, 224, 197, 0.374);
    background: linear-gradient(295deg, aliceblue, lightblue, lightgrey);
    box-shadow: 0 0 10px grey;
    overflow-y: scroll;
}

.main-search {
    width: 100%;
    display: 'flex';
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

.main-users {
    overflow-y: scroll;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    height: 110vh;
    margin-top: 10px;
}

.main-chats {
    width: 90%;
    background-color: white;
    margin: 5px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50px;
}

 ::-webkit-scrollbar {
    display: none;
}

.main-div2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 75%;
    font-size: 40px;
    /* border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    box-shadow: 0 0 15px grey;
    border-radius: 2%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
    max-height: 100vh;
    overflow-y: scroll;
    height: 80vh;
    /* background: linear-gradient(60deg, aliceblue, lightblue, lightgrey); */
}

.main-div2-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-search-text {
    width: 70%;
    height: 30px;
    margin: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 30px;
    font-weight: 500;
}

.main-search-icon {
    width: 10%;
    cursor: pointer;
}

.main-chats button {
    border: none;
    background-color: white;
}

.main-current-user {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid black;
    font-size: 25px;
    font-weight: 600;
    height: 5vh;
    padding-left: 40px;
    padding-top: 7px;
    align-items: center;
    position: fixed;
    width: 75%;
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(75deg, aliceblue, lightblue, lightgrey); */
    /* background-color: #73d2de89; */
    background-color: lightblue;
}

.main-current-chats {
    font-size: 15px;
    margin-bottom: auto;
    padding-top: 8vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
}

.main-icons {
    float: right;
    background: transparent;
}

.icons {
    margin-right: 20px;
    cursor: pointer;
    background: transparent;
}

.main-current-type {
    bottom: 5px;
    width: 75%;
    background: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.main-current-type textarea {
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    resize: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-sent {
    height: 40px;
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.354);
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    z-index: 1000;
}

.main-msgs-right {
    border: 1px solid black;
    width: fit-content;
    max-width: 40%;
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 5%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 10px grey;
}

.main-msgs-left {
    border: 1px solid black;
    width: fit-content;
    max-width: 40%;
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 5%;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 0 8px grey;
}

.tym {
    float: right;
    font-size: 10px;
    font-weight: 600;
}

.main-div2-template {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 30px;
}

.main-div2-content {
    display: none;
}

.logo1 {
    width: 50%;
    margin-bottom: 10px;
    background: transparent;
}

.textarea {
    margin-bottom: 10px;
}

.msg-container {
    width: fit-content;
}

.links {
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
    color: blue;
}