.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  z-index: 1;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.616));
  animation: animate 5s infinite;
}

.get-started-button {
  position: absolute;
  top: calc(65% + 100px); 
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px; 
  background-color: #33ff00; 
  color: #000; 
  font-size: 16px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0px 0px 10px #00ff04be;
}

.logo-text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  z-index: 1;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.616));
  animation: animate 5s infinite;
}

.cardimg {
  width: 25vmin;
}
.slide1 {
  display: flex;
  margin: 20px;
}
.cardd {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vmin;
  width: 30vmin;
}
.hh {
  transition: 0.5s all ease-in-out;
}
.hh:hover {
  transform: scale(1.05);
}
.slide1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
 
}
.cardd {
  box-shadow: 0px 0px 10px #82f0ffbe;
  animation: gloww 2s infinite;

  margin: 20px 40px;
  text-align: center;
}
.services {
  
  margin: 30px;
  color: rgb(88, 152, 255);
  font-family: "Kaushan Script", cursive;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  40% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@media only screen and (max-width: 767px) {
  .logo-image {
    top: 45%;
  }
  .logo-text {
    top: 60%;
  }
  .slide1{
    flex-direction: column;
  }
  .cardd{
    width: 80%;
  }
}

@keyframes gloww{
  20%{
    box-shadow: 0px 0px 10px #595cff8f ;
  }
  50%{
    box-shadow: 0px 0px 10px #ff59a98f ;
  }
}
